<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Previsão de Ataque Cardíaco</title>
</head>
<body>
    <navbar>
        <img id="logo" src="{{ url_for('static', filename='logo.png') }}" alt="">
        <a href=""> <img src="{{ url_for('static', filename='inicio.png') }}" alt=""> INICIO</a>
        <a href=""> <img src="{{ url_for('static', filename='graficos.png') }}" alt=""> GRAFICOS</a>
        <a href=""> <img src="{{ url_for('static', filename='sobre.png') }}" alt=""> SOBRE</a>
    </navbar>
    <div id="previsao">
        <h1>Previsão de Ataque Cardíaco</h1>
        <form id="preverForm">
            <div>
              <label for="idade">Idade:</label>
              <input type="number" id="idade" name="idade" required />
            </div>
            <div>
              <label for="sexo">Sexo (1 = Masculino, 0 = Feminino):</label>
              <input type="number" id="sexo" name="sexo" required />
            </div>
            <div>
              <label for="pressao_arterial">Pressão Arterial:</label>
              <input type="number" id="pressao_arterial" name="pressao_arterial" required />
            </div>
            <div>
              <label for="colesterol">Colesterol:</label>
              <input type="number" id="colesterol" name="colesterol" required />
            </div>
            <button type="submit">Prever</button>
            <h2 style="display: none;" id="mais">Você tem <span>mais chances</span> de ter um ataque cardíaco.</h2>
            <h2 style="display: none;" id="menos">Você tem <span>menos chances</span> de ter um ataque cardíaco.</h2>
        </form>
        <div><section id="descricao"><h2>A base de dados de doenças cardíacas contém informações sobre pacientes, incluindo características demográficas, resultados de exames médicos e indicadores clínicos.
            O objetivo é prever a presença ou ausência de doença cardíaca com base nesses atributos. O principal objetivo ao utilizar esta base de dados é construir modelos de aprendizado de máquina que possam
            prever a presença de doença cardíaca, ajudando médicos e profissionais de saúde a tomar decisões mais informadas sobre o diagnóstico e tratamento de pacientes.
            Esta base de dados é amplamente utilizada em competições de ciência de dados, cursos de aprendizado de máquina e pesquisas acadêmicas devido à sua relevância clínica
            e à variedade de atributos que ela contém.</h2></section></div>
            <div><canvas id="pieChart"></canvas></div>
            <div><canvas id="graficoIdade"></canvas></div>
    </div>   
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>   
</body>
</html>
